
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html{
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box!important;
    font-family: 'Sono', sans-serif;
  font-family: 'Righteous', cursive;

    
}
/* #here{
  scroll-margin-top:10px ;

} */
.purple-color{
    color: #2a3d52;
}
.material-symbols-outlined {
  
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  h3{
    margin: 0;
  }
  .theme-color{
    color: #daa520;
    
  }